.client {
    display: flex;
}
.client__item {
    margin-left: 30px;

&:first-child {
    margin-left: 0;
}
}
/* Постоянные клиенты*/
.client__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    border: 1px solid var(--accent-color); 

}
}
.client__logo {
    background-position: center;
    fill: #AFB1B8;

.client__link:hover &,
.client__link:focus & {
    fill: var(--accent-color);
}
}
