.footer {
    display: flex;
    padding: 60px 0;
    background: #2F303A;
    
& .itemadress + .itemadress {
    margin-left: 70px;
}
}
.footer-container {
    display: flex;
    align-items: baseline;
}

.logotip {
    margin-bottom: 20px;
}

.logotip__logo {
    display: inline-block;
    height: 31px;
    color: #FFFFFF;
    font-family: Raleway;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

.adress__link {
    color: #FFFFFF99;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: var(--accent-color);
}
}
.join-title {
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--main-bg-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.socialnet-footer {
    display: flex;
    justify-content: start;
}
.socialnet-footer__item {
    margin-left: 10px;

&:first-child {
    margin-left: 0;
}
}
.socialnet-footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--accent-color);
}
}
.socialnet-footer__icon {
    background-position: center;
    fill:var(--main-bg-color);
}
.subscribe {
    margin-left: 93px;
}
.block-form {
    display: flex;
    position: relative;
}
.subscribe-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--main-bg-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.block-form__input::placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);


}
.block-form__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2F303A;
    

&:hover,
&:focus {
border: 1px solid var(--accent-color);
color: var(--main-bg-color);    
}
}

.block-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-right: 10px;
    background: var(--accent-color);
    color: var(--main-bg-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;

&:hover,
&:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
}
.block-form__icon {
    margin-left: 10px;
    fill: var(--main-bg-color);
}
