.modal-form {
    padding: 40px;
    
}
.title-send {
font-size: 20px;
font-weight: 700;
line-height: 1.172;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.field-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

&:last-child {
    margin-top: 20px;
}
}
.field-form label {
 margin-bottom: 4px;
 color: #757575;
}
.field-form input:not(.checkbox) {
    font-size: 14px;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-form textarea {
    width: 448px;
    height: 120px;
    padding: 11px 12px 11px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-form textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5); 
}

.label-policy__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-policy__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
   .label-policy__checkbox:checked + .label-policy__icon {
       background-color: var(--accent-color);
       border-color: var(--accent-color);
       background-image: url(../img/check.svg);
       background-size: contain;
       background-origin: border-box;
   }
   .form-input {
       position: relative;
   }
   .form-input__icon {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       left: 12px;
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }
   .field-form:focus-within .form-input__icon {
       fill: var(--accent-color);
   }
 .field-form input:focus,
 textarea:focus {
     border-color: var(--accent-color);
     outline: none;
 }
 label.label-policy {
     display: flex;
     align-items: center;
     font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    cursor: pointer;

 }
 .label-policy__link {
     margin-left: 4px;
     text-decoration: underline;
     color: var(--accent-color);
 }
 .field-form__button {
     width: 200px;
     height: 50px;
     align-self: center;
     border-radius: 4px;
     background-color: var(--accent-color);
     border: transparent;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     font-size: 16px;
     font-weight: 700;
     line-height: 1.875;
     letter-spacing: 0.06em;
     text-align: center;
     color: var(--main-bg-color);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     cursor: pointer;

 
 &:hover,
 &:focus {
     background-color: #188CE8;
 }
}