.project {
    display: flex;
    flex-wrap: wrap;
}
.project__item {
width: 370px;
margin-right: 30px;
margin-bottom: 30px
}
.project__item:nth-child(3n) {
    margin-right: 0;
}

.project__item:nth-last-child(-n + 3) {
    margin-bottom: 0;

}

.box__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0; 
}
.box__discription {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
}
.box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid #EEEEEE; 
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.example {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);  
}
}
.example__card {
    position: relative;
    overflow: hidden ;
}
.example__text {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 24px;
    background-color: var(--accent-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-bg-color);
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
.example:hover &,
.example:focus & {
    transform: translateY(-100%);
}
}